<div id="registration">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "pb-24" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container">
      <div class="flex justify-between items-start gap-5 pt-6 pb-10 border-b-[1px] border-darkblue">
        <h5 class="w-full max-w-[51%] text-2xl font-semibold">Enter your credentials</h5>
        <div class="w-full max-w-[49%] flex flex-col gap-[26px]">
          <%= f.label :email, class: "label", for: "email" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", type: "email", id: "email", placeholder: "Provide valid email", required: true %>
          <%= f.label :password, class: "label", for: "password" %>
          <%= f.password_field :password, autocomplete: "new-password", class: "input", type: "password", id: "password", placeholder:"********", required: true %>
          <%= f.label :password_confirmation, class: "label", for: "password-confirmation" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", type: "password", id: "password", placeholder:"********", required: true %>
          <%= f.submit "Sign up", class: "button max-w-full", data: { turbo: false } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
