<div id="registration">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "pb-24" }) do |f| %>
    <div class="container">
      <div class="flex justify-between items-start gap-5 pt-6 pb-10 border-b-[1px] border-darkblue">
        <h5 class="w-full max-w-[51%] text-2xl font-semibold">Change your password</h5>
        <div class="w-full max-w-[49%] flex flex-col gap-[26px]">
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
          <%= f.label :password, "New password", class: "label", for: "password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "input", placeholder:"********", required: true %>
          <%= f.label :password_confirmation, "Confirm new password", class: "label", for: "password" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder:"********", required: true %>
          <%= f.submit "Change my password", class: "button max-w-full", data: { turbo: false } %>
        </div>
      </div>
    </div>
  <% end %>
</div>