<header class="w-full relative border-b-[1px] border-darkblue">
  <div class="container">
    <div class="flex justify-between items-center">
      <ul class="nav-list flex gap-[70px] text-base leading-[22px] font-semibold z-10">
        <li class="active relative py-[29px]">
          <a href="challenges">Challenges</a>
        </li>

        <li class="relative py-[29px]">
          <a href="#">Rules</a>
        </li>

        <li class="relative py-[29px]">
          <a href="juries">Jury</a>
        </li>
      </ul>

      <a href="/" class="absolute mx-auto left-0 right-0 text-center z-0">
        <%= image_tag("logo.svg", size: "44x16", alt: "3D Print Logo", class: "mx-auto") %>
      </a>

      <div class="flex items-center z-10">
        <a href="#" class="block p-3">
          <%= image_tag("facebook.svg", size: "20x20", alt: "fb") %>
        </a>

        <a href="#" class="block p-3">
          <%= image_tag("instagram.svg", size: "20x20", alt: "instagram") %>
        </a>

        <% unless current_user.present? %>
          <%= link_to 'Sign In', new_user_session_path, data: { trubo: false }, class: "button px-16 ml-3" %>
        <% else %>
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { trubo: false }, class: "button px-16 ml-3" %>
        <% end %>
      </div>
    </div>
  </div>
</header>