<header class="w-full relative border-b-[1px] border-darkblue">
  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-PQ6BV28"></script>
  <div class="container">
    <div class="flex justify-between items-center">
      <ul class="nav-list flex gap-16 text-base leading-[22px] font-semibold z-10">
        <li class="relative px-1 py-[29px]">
          <%= active_link_to "Challenges", challenges_path, active: :exact %>
        </li>

        <li class="relative px-1 py-[29px]">
          <a href="#">Rules</a>
        </li>

        <li class="relative px-1 py-[29px]">
          <%= active_link_to "Jury", juries_path %>
        </li>
      </ul>

      <a class="absolute mx-auto left-0 right-0 text-center z-0">
        <%= link_to root_path do %>
          <%= image_tag("logo.svg", size: "44x16", alt: "Printing Weekly", class: "mx-auto") %>
        <% end %>
      </a>

      <div class="flex items-center z-10">
        <a href="#" class="block p-3">
          <%= image_tag("facebook.svg", size: "20x20", alt: "fb") %>
        </a>

        <a href="#" class="block p-3">
          <%= image_tag("instagram.svg", size: "20x20", alt: "instagram") %>
        </a>

        <% unless current_user.present? %>
          <%= link_to 'Sign In', new_user_session_path, data: { trubo: false }, class: "button w-[216px] px-0 ml-3" %>
        <% else %>
          <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, data: { trubo: false }, class: "button w-[216px] px-0 ml-3" %>
        <% end %>
      </div>
    </div>
  </div>
</header>