<div id="registration">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "pb-24" } ) do |f| %>
    <div class="container">
      <div class="flex justify-between items-start gap-5 pt-6 pb-10 border-b-[1px] border-darkblue">
        <h5 class="w-full max-w-[51%] text-2xl font-semibold">Enter your credentials</h5>
        <div class="w-full max-w-[49%] flex flex-col gap-[26px]">
          <%= f.label :email, class: "label", for: "email" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", type: "email", id: "email", placeholder: "Provide valid email", required: true %>
          <%= f.label :password, class: "label", for: "password" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "input", type: "password", id: "password", placeholder:"********", required: true %>
          <% if devise_mapping.rememberable? %>
            <div class="flex items-start gap-4">
              <%= f.check_box :remember_me, class: "opacity-0 absolute h-4 w-4 z-10 mt-1 cursor-pointer" %>
              <div class="border-[1px] border-darksecondary w-4 h-4 flex justify-center items-center flex-shrink-0 z-0 mt-1">
                <svg class="hidden pointer-events-none" xmlns="http://www.w3.org/2000/svg" width="10" height="8" viewBox="0 0 10 8" fill="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.19156 1.41421L7.77734 0L3.53519 4.24216L1.41421 2.12119L0 3.5354L2.12097 5.65637L2.12049 5.65685L3.5347 7.07107L3.53519 7.07059L3.53553 7.07093L4.94975 5.65672L4.9494 5.65637L9.19156 1.41421Z" fill="#2A343E"/>
                </svg>
              </div>
              <%= f.label :remember_me, class: "select-none cursor-pointer" %>
            </div>
          <% end %>
          
          <%= f.submit "Log in", class: "button max-w-full", data: { turbo: false } %>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "button max-w-full" %>
          <% end %>
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name), class: "button max-w-full" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>