<!DOCTYPE html>
<html>
  <head>
    <title>PrintingWeeklyChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SPYJ097H2E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SPYJ097H2E');
    </script>
  </head>

  <body class="font-sans bg-white text-darkblue flex flex-col min-h-screen overflow-x-hidden">
    <%= render "shared/header" %>
  
    <main class="h-full w-full">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
